.container-fluid {
    padding: 0;
    margin: 0;
}

/* ------header---------*/
header {
    position: relative;
}

.navbar-header {
    padding-left: 2%;
    float: left;
}
nav.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

ul.nav > li > a {
    color: #FFFFFF;
}

ul.nav > li > a:hover {
    color: #337ab7;
}

.navbar-brand > img {
    float: left;
    display: inline;
}
#myNavbar > ul.nav {
    float: right;
}


.photoTitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    color: #FFFFFF;
    font-size: 3vw;
}

/* ------Carousel---------*/

.item > img {
    width: 100%;
    height: 80%;
}

#myCarousel {
    position: relative;
}
ol.carousel-indicators {
    bottom: 30%;
}

#myCarousel .learnMore {
    position: absolute;
    width: 100%;
    bottom: 5%;
    color: #FFFFFF;
    z-index: 16;
}


#myCarousel .learnMore a {
    color: #FFFFFF;
}

/* ------content---------*/

section {
    margin: 5% 0 5% 0;
}

section > header > h1 {
    font-size: 30px;
    width: 40%;
    text-align: center;
    margin: auto;
}


/* ------content---------*/

/* ------Footer---------*/

footer {
    background-color: #737373;
    color: #FFFFFF;
}

footer > address {
    text-align: center;
    padding: 20px;
}

.logo {
    width: 49%;
    float: left;
}

.logo > img {
    display: inline;
}

.author {
    padding: 2% 0% 2% 0%;
    border-top: 2px solid #808080;
}

.authorName {
    width: 49%;
    color: #d9d9d9;
    text-align: right;
    float: right;
}

.cyan {
    color: #00b3b3;
}

.menuBottom {
    padding: 3% 0% 3% 0%;
    color: #FFFFFF;
}

footer div a {
    color: #FFFFFF;
}

.menuBottom div ul li {
    padding-bottom: 4px;

}




@media (min-width: 768px) {

.navbar-brand > img {
    width: 80%;
}

}