/* ------header---------*/
header {
    position: relative;
}


nav.navbar {
    position: absolute;
    top: 0;
    left: 2%;
}

.navbar-nav {
    color: #FFFFFF;
}

.photoTitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    color: #FFFFFF;
    font-size: 3vw;
}

/* ------Carousel---------*/

.item img {
    width: 100%;
}

/* ------Footer---------*/

footer > address {
    text-align: center;
    padding: 20px;
}
