.container-fluid {
    padding: 0;
    margin: 0;
}

/* ------header---------*/
header {
    position: relative;
}

.navbar-header {
    padding-left: 2%;
    float: left;
}
nav.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

ul.nav > li > a {
    color: #FFFFFF;
}

ul.nav > li > a:hover {
    color: #337ab7;
}

.navbar-brand > img {
    float: left;
    display: inline;
}
#myNavbar > ul.nav {
    float: right;
}


.photoTitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    color: #FFFFFF;
    font-size: 3vw;
}

/* ------Carousel---------*/

.item > img {
<<<<<<< HEAD
    width: 100%;
    height: 80%;
}

#myCarousel {
    position: relative;
}
ol.carousel-indicators {
    bottom: 30%;
}

#myCarousel .learnMore {
    position: absolute;
    width: 100%;
    bottom: 5%;
    color: #FFFFFF;
    z-index: 16;
}


#myCarousel .learnMore a {
    color: #FFFFFF;
}

/* ------content---------*/

section {
    margin: 5% 0 5% 0;
}

section > header > h1 {
    font-size: 30px;
    width: 40%;
    text-align: center;
    margin: auto;
}

=======
    width: 100%;
    height: 80%;
}

#myCarousel {
    position: relative;
}
ol.carousel-indicators {
    bottom: 30%;
}

#myCarousel .learnMore {
    position: absolute;
    width: 100%;
    bottom: 5%;
    color: #FFFFFF;
    z-index: 16;
}


#myCarousel .learnMore a {
    color: #FFFFFF;
}

/* ------content---------*/

section {
    margin: 5% 0 5% 0;
}

section > header > h1 {
    font-size: 30px;
    width: 40%;
    text-align: center;
    margin: auto;
}

>>>>>>> 27b048bb90b44704790ac1bd2fbca2cd9a63c37b

/* ------content---------*/

/* ------Footer---------*/

footer {
    background-color: #737373;
    color: #FFFFFF;
}

footer > address {
    text-align: center;
    padding: 20px;
}

.logo {
    width: 49%;
    float: left;
}

.logo > img {
    display: inline;
}

.author {
    padding: 2% 0% 2% 0%;
    border-top: 2px solid #808080;
}

.authorName {
    width: 49%;
    color: #d9d9d9;
    text-align: right;
    float: right;
}

.cyan {
    color: #00b3b3;
}

.menuBottom {
    padding: 3% 0% 3% 0%;
    color: #FFFFFF;
}

footer div a {
    color: #FFFFFF;
}

.menuBottom div ul li {
    padding-bottom: 4px;

}

<<<<<<< HEAD
/* ----------bootstrap css----------*/

.div_demo {
    height: auto;
    font-size: 16px;
    font-weight: 800;
    padding: 3%;
}
.div_demo img {
    height: auto;
    width: 100%;
}


#div_1 {
    background-color: #4286f4;
}

#div_2 {
    background-color: #C879BB;
}

#div_3 {
    background-color: #86FF97;
}
#div_4 {
    background-color: #ABFF86;
}
#div_5 {
    background-color: #FBFF86;
}
#div_6 {
    background-color: #FF86A0;
}
#div_7 {
    background-color: #86DAFF;
}
#div_8 {
    background-color: #86FFD8;
}
#div_9 {
    background-color: #BC52B0;
}
#div_10 {
    background-color: #69BC52;
}
#div_11 {
    background-color: #BCA552;
}
#div_12 {
    background-color: #BC7052;
}





=======
>>>>>>> 27b048bb90b44704790ac1bd2fbca2cd9a63c37b



@media (min-width: 768px) {

.navbar-brand > img {
    width: 80%;
}

}